header {
background-color: rgb(175,175,175)
}
h1 {
color: rgb(255,255,255);
text-align: center;
}
a {
color:black;
background-color: rgb(200,200,200)
}
section {
background-color: rgb(150,150,150)
}
h2 {
color: rgb(25,25,255)
}
aside {
display:none;
}